<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>vue-todolist</title>
</head>
<body>


    <div id="app">
        <h1>TO DO</h1>

        <div id="container">
            <div>
                <input type="text" @keyup.enter="AddTask"  placeholder="Add task" v-model ="newTask">
                <button @click="AddTask" type="button">Add</button>
                 <div class="error"  v-if="error">
                    Devi inserire una task di almeno 3 caratteri
                </div>

                <ol>
                    <li 
                        v-for = "(listItem, index) in toDo" @click.stop = "doneOrUndone(index)" :class="listItem.done === true ? 'done' : ''" >{{listItem.task}}
                        
                        <i @click.stop = "removeTask(index)" class="fa-solid fa-circle-xmark"></i>
                    <li>
                
                </ol>
                <h2 class="error" v-if="toDo.length === 0">Non ci sono tasks</h2>
            </div>
        </div>
        


    </div>

    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="vue-todolist.js"></script>
</body>
</html>