*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


h1{
    text-align: center;
    padding: 10px;
}

#container{
    width: 500px;
    min-height: 200px;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error{
    color: red;
    
}

ol{
    text-align: center;
}

ol li{
    list-style: none;
    padding: 2px;


}

.done{
    text-decoration: line-through;
}

.fa-solid{
    padding: 5px;
}